_darcs
*~
\#*
.\#*
/eval
/build
/makeheaders/makeheaders
/*.dot
/cov-int
/myproject.tgz
/eval.js
/eval.js.map
/js
.poprc_history
/.ycm_extra_conf.pyc
/GPATH
/GRTAGS
/GTAGS
/org/scratch.org
/config.mk
/diagrams.html
/diagrams
/compile_commands.json
/poprc_out
*.dSYM
/afl/eval
/afl/input
/afl/output
/afl/crashes.txt
/afl/hangs.txt
.tramp_history
/node_modules
/attic
/startle/makeheaders/makeheaders
/startle/bin
/.gen
/tex/*.aux
/tex/*.log
/tex/*.pdf
/make-eval.log
/trees.log
/trees-saved.log
/testbenches/build
/nix/node/
