_darcs
*~
\#*
.\#*
/eval
/build
/gen
/makeheaders/makeheaders
/*.dot
/cov-int
/myproject.tgz
/eval.js
/eval.js.map
/js
/.poprc_history
/.ycm_extra_conf.pyc
/GPATH
/GRTAGS
/GTAGS
/org/scratch.org
/config.mk
